*{
    margin: 0;
    padding: 0;
}

html,body{
    box-sizing: border-box;
}
.head_title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    width: 1200px;

    margin: auto;
}

.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: aquamarine;
}
 a{
    text-decoration: none;
    color: black;
    font-size: 45px;
}

 .logo{
     padding: 25px;
 }

ul{
    list-style: none;
    display: flex;
    font-size: 35px;
}
li{
    padding-right: 25px;
    transition: 0.7s;
}

.header_item:hover,
.menu_item:hover{
    color: red;
    text-decoration: underline;
}

/*=======  second section =============*/
.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-item{
    margin: 25px 0;
    /*border: 1px solid firebrick;*/
    width: auto;
}
.item-descriptor{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;

}

.btn_item{
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
}
.btn_item-text{
    background-color: #2755a6;

    padding-top: 20px;
    padding-bottom: 20px;
    transition: .2s;
}

.btn_item:hover{
    /*color: wheat;*/
}
.btn_item-text:hover{
    background-color: cornflowerblue;
}













