<h1 class="head_title">IGOR-TEST-SHOP.LOC</h1>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/" class="header_item">
                logo
            </a>
        </div>

        <nav class="menu">
            <ul>
                <li>
                    <a href="/" class="menu_item">home</a>
                </li>
                <li>
                    <a href="/about" class="menu_item">about</a>
                </li>
            </ul>
        </nav>
    </div><!-/.header -->
</div> <!-/.container -->
