<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IGOR-TEST-SHOP.LOC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% include 'section/navigation.twig' %}

{% block body %} {% endblock %}

</body>
</html>