{% extends 'base.twig' %}

{% block body %}

    <div class="container">
        <div class="wrapper">

            <div class="shop-item">
                <img src="https://dummyimage.com/300x500/000/fff" alt="">
                <div class="item-descriptor">
                    товар 1
                </div>
                <a href="item-content1" class="btn_item">
                    <div class="btn_item-text">посмотреть</div>
                </a>
            </div>

            <div class="shop-item">
                <img src="https://dummyimage.com/300x500/000/fff" alt="">
                <div class="item-descriptor">
                    товар 2
                </div>
                <a href="/item-content2" class="btn_item">
                    <div class="btn_item-text">посмотреть</div>
                </a>
            </div>

            <div class="shop-item">
                <img src="https://dummyimage.com/300x500/000/fff" alt="">
                <div class="item-descriptor">
                    товар 3
                </div>
                <a href="/item-content3" class="btn_item">
                    <div class="btn_item-text">посмотреть</div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}