{% extends 'base.twig' %}

{% block body %}

<div class="container head_title btn_item">
    <p>
        Эта страница содежит описание товара
    <h3 align="center">{{ url_key }}</h3>
    </p>
</div>

{% endblock %}